/****** Object:  StoredProcedure [dbo].[SP_AperturaSemana]    Script Date: 4/6/2026 21:51:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_AperturaSemana]
     @inFechaJueves  DATE
    ,@inIdMes        INT
    ,@outIdSemana    INT OUTPUT
    ,@outResultCode  INT OUTPUT
AS
BEGIN
BEGIN TRY
    SET NOCOUNT ON;

    SET @outResultCode  = 0;
    SET @outIdSemana    = 0;

    DECLARE @fechaInicio    DATE = DATEADD(DAY, 1,  @inFechaJueves);
    DECLARE @fechaFin       DATE = DATEADD(DAY, 7,  @inFechaJueves);

    -- Validar que no exista ya una semana con esa FechaInicio
    DECLARE @existeSemana INT = 0;

    SELECT @existeSemana = COUNT(1)
    FROM dbo.Semana s
    WHERE (s.FechaInicio = @fechaInicio);

    IF (@existeSemana > 0)
    BEGIN
        SET @outResultCode = 50008;
        RETURN;
    END;


        BEGIN TRANSACTION tCreaSemana;

            INSERT INTO dbo.Semana
                ( IdMes
                , FechaInicio
                , FechaFin )
            VALUES
                ( @inIdMes
                , @fechaInicio
                , @fechaFin );

            SET @outIdSemana = SCOPE_IDENTITY();

            -- Crear PlanillaSemanal vacía para cada empleado activo
            INSERT INTO dbo.PlanillaSemanal
                ( IdEmpleado
                , IdSemana
                , SalarioBruto
                , TotalDeducciones
                , HorasOrdinarias
                , HorasExtraNormales
                , HorasExtraDobles
                , Procesada )
            SELECT
                 e.id
                ,@outIdSemana
                ,0
                ,0
                ,0
                ,0
                ,0
                ,0
            FROM dbo.Empleado e
            WHERE (e.Activo = 1);

        COMMIT TRANSACTION tCreaSemana;

END TRY
BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION tCreaSemana;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

END CATCH;

END;
