/****** Object:  StoredProcedure [dbo].[SP_AperturaMes]    Script Date: 4/6/2026 21:50:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_AperturaMes]
     @inFechaJueves  DATE
    ,@outIdMes       INT OUTPUT
    ,@outResultCode  INT OUTPUT
AS
BEGIN
BEGIN TRY
    SET NOCOUNT ON;

    SET @outResultCode  = 0;
    SET @outIdMes       = 0;

    DECLARE @fechaInicio DATE
    ,@fechaFin           DATE
    ,@cantidadSemanas    TINYINT
    ,@mes                INT
    ,@año                INT
    ,@ultimoDiaMes       DATE;

    SET @fechaInicio = DATEADD(DAY, 1, @inFechaJueves);

    SET @mes = MONTH(@fechaInicio);
    SET @año = YEAR(@fechaInicio);

    -- Último día del mes de FechaInicio
    SET @ultimoDiaMes = EOMONTH(@fechaInicio);

    -- Retroceder desde el último día del mes hasta encontrar el jueves
    -- DATEPART(weekday, fecha): 1=Dom, 2=Lun, 3=Mar, 4=Mié, 5=Jue, 6=Vie, 7=Sáb
    SET @fechaFin = @ultimoDiaMes;

    WHILE (DATEPART(WEEKDAY, @fechaFin) <> 5)
    BEGIN
        SET @fechaFin = DATEADD(DAY, -1, @fechaFin);
    END;

    -- Contar cuántos jueves hay entre FechaInicio y FechaFin
    SET @cantidadSemanas = 0;

    DECLARE @fechaConteo DATE = @fechaInicio;

    WHILE (@fechaConteo <= @fechaFin)
    BEGIN
        IF (DATEPART(WEEKDAY, @fechaConteo) = 5)
            SET @cantidadSemanas = @cantidadSemanas + 1;

        SET @fechaConteo = DATEADD(DAY, 1, @fechaConteo);
    END;

    -- Validar que no exista ya un mes con esa FechaInicio
    DECLARE @existeMes INT = 0;

    SELECT @existeMes = COUNT(1)
    FROM dbo.Mes m
    WHERE (m.FechaInicio = @fechaInicio);

    IF (@existeMes > 0)
    BEGIN
        SET @outResultCode = 50008;
        RETURN;
    END;

        BEGIN TRANSACTION tNuevoMes;

            INSERT INTO dbo.Mes
                ( FechaInicio
                , FechaFin
                , CantidadSemanas )
            VALUES
                ( @fechaInicio
                , @fechaFin
                , @cantidadSemanas );

            SET @outIdMes = SCOPE_IDENTITY();

            -- Crear PlanillaMensual para cada empleado activo
            INSERT INTO dbo.PlanillaMensual
                ( IdEmpleado
                , IdMes
                , SalarioBruto
                , TotalDeducciones )
            SELECT
                 e.id
                ,@outIdMes
                ,0
                ,0
            FROM dbo.Empleado e
            WHERE (e.Activo = 1);

        COMMIT TRANSACTION tNuevoMes;

END TRY
BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION tNuevoMes;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

END CATCH;
END;
