/****** Object:  StoredProcedure [dbo].[SP_ConsultarPlanillaSemanal]    Script Date: 5/6/2026 15:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ConsultarPlanillaSemanal]
     @inIdEmpleado   INT
    ,@inCantidad     INT = 10
    ,@inIdUsuario    INT
    ,@inIP           VARCHAR(45)
    ,@outResultCode  INT OUTPUT
AS
BEGIN
    BEGIN TRY
    SET NOCOUNT ON;
    SET @outResultCode = 0;

    DECLARE
         @fechaInicio    DATE
        ,@fechaFin       DATE;
    

        SELECT TOP (@inCantidad)
             PS.id                   AS IdPlanillaSemanal
            ,S.FechaInicio
            ,S.FechaFin
            ,PS.SalarioBruto
            ,PS.TotalDeducciones
            ,PS.SalarioNeto
            ,PS.HorasOrdinarias
            ,PS.HorasExtraNormales
            ,PS.HorasExtraDobles
            ,PS.Procesada
        FROM dbo.PlanillaSemanal PS
        INNER JOIN dbo.Semana S ON (PS.IdSemana = S.id)
        WHERE (PS.IdEmpleado = @inIdEmpleado)
        ORDER BY S.FechaInicio DESC;

        -- Para bitácora: fechas de la primera y última semana retornada
        SELECT
             @fechaInicio = MIN(S.FechaInicio)
            ,@fechaFin    = MAX(S.FechaFin)
        FROM dbo.PlanillaSemanal PS
        INNER JOIN dbo.Semana S ON (PS.IdSemana = S.id)
        WHERE (PS.IdEmpleado = @inIdEmpleado);

        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @inIdUsuario
            , 11
            , CONCAT('{"IdEmpleado":', @inIdEmpleado,
                     ',"FechaInicio":"', @fechaInicio,
                     '","FechaFin":"', @fechaFin, '"}')
            , @inIP );

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;