/****** Object:  StoredProcedure [dbo].[SP_EliminarEmpleado]    Script Date: 1/6/2026 23:53:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_EliminarEmpleado]
     @inIdEmpleado   INT
    ,@inIdUsuario    INT
    ,@inIP           VARCHAR(45)
    ,@outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    DECLARE @existeEmpleado INT = 0;

    SELECT @existeEmpleado = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.id = @inIdEmpleado)
        AND (E.Activo = 1);

    IF (@existeEmpleado = 0)
    BEGIN
        INSERT INTO dbo.BitacoraEvento (IdUsuario, IdTipoEvento, Descripcion, IpPostIn)
        VALUES
            ( @inIdUsuario, 8, 'Fallido: No existe el empleado que se intentó eliminar', @inIP );

        SET @outResultCode = 50008;
        RETURN;
    END;

    DECLARE @datosAntes NVARCHAR(MAX);

    SET @datosAntes = (
        SELECT
             E.id
            ,E.IdTipoDocumento
            ,E.documentoIdentidad
            ,E.Nombre
            ,E.IdDepartamento
            ,E.IdPuesto
            ,E.CuentaBancaria
        FROM dbo.Empleado E
        WHERE (E.id = @inIdEmpleado)
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    BEGIN TRY

        BEGIN TRANSACTION tEliminarEmp;

            UPDATE dbo.Empleado
            SET Activo = 0
            WHERE (id = @inIdEmpleado);

            INSERT INTO dbo.BitacoraEvento (IdUsuario, IdTipoEvento, IpPostIn, DatosAntes)
            VALUES
                ( @inIdUsuario, 6, @inIP, @datosAntes );

        COMMIT TRANSACTION tEliminarEmp;

    END TRY
    BEGIN CATCH

        IF (@@TRANCOUNT > 0)
            ROLLBACK TRANSACTION tEliminarEmp;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;

