/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 1/6/2026 23:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Login]
     @inUsuario      VARCHAR(50)
    ,@inPassword     VARCHAR(60)
    ,@inIpPostIn     VARCHAR(45)
    ,@outResultCode  INT OUTPUT
    ,@outIdUsuario   INT OUTPUT
AS
BEGIN
BEGIN TRY
    SET NOCOUNT ON;

    SET @outResultCode  = 0;
    SET @outIdUsuario   = 0;

    DECLARE @idUsuario          INT = 0;
    DECLARE @passwordBD         VARCHAR(60) = '';
    DECLARE @intentosFallidos   INT = 0;
    DECLARE @idSistema          INT = 1;


        -- Verificar si el usuario existe y traer su password
        SELECT
             @idUsuario  = U.id
            ,@passwordBD = U.[Password]
        FROM dbo.Usuario U
        WHERE (U.[User] = @inUsuario);

        -- Usuario no existe
        IF (@idUsuario = 0)
        BEGIN
            SET @outResultCode = 50001;

            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
            VALUES
                ( @idSistema, 2, 'Fallido: usuario no existe', @inIpPostIn );

            RETURN;
        END;

        -- Contar intentos fallidos en los últimos 20 minutos
        SELECT @intentosFallidos = COUNT(be.id)
        FROM dbo.BitacoraEvento be
        WHERE (be.IdTipoEvento  = 1)
            AND (be.IdUsuario   = @idUsuario)
            AND (be.IpPostIn    = @inIpPostIn)
            AND (be.Descripcion LIKE 'Fallido%')
            AND (be.PostTime    >= DATEADD(MINUTE, -20, GETDATE()));

        -- Login deshabilitado por demasiados intentos
        IF (@intentosFallidos >= 5)
        BEGIN
            SET @outResultCode = 50003;

            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
            VALUES
                ( @idUsuario, 3, 'Fallido: cuenta bloqueada por intentos excesivos', @inIpPostIn );

            RETURN;
        END;

        -- Password incorrecto
        IF (@passwordBD <> @inPassword)
        BEGIN
            SET @outResultCode = 50002;

            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
            VALUES
                ( @idUsuario
                , 2
                , CONCAT('Fallido: password incorrecto. Intento: ', @intentosFallidos + 1)
                , @inIpPostIn );

            RETURN;
        END;

        -- Login exitoso
        SET @outIdUsuario = @idUsuario;

        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @idUsuario, 1, 'Exitoso', @inIpPostIn );

        SELECT
             U.id           AS IdUsuario
            ,U.[User]       AS Username
            ,U.Tipo
            ,U.IdEmpleado
            ,E.Nombre       AS NombreEmpleado
        FROM dbo.Usuario U
            LEFT JOIN dbo.Empleado E ON (U.IdEmpleado = E.id)
        WHERE (U.id = @idUsuario);

END TRY
BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SUSER_NAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

END CATCH;

END;
