/****** Object:  Trigger [dbo].[TR_Empleado_DeducObligatorias]    Script Date: 17/6/2026 11:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_Empleado_DeducObligatorias]
ON [dbo].[Empleado]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    
    INSERT INTO dbo.EXTD (IdEmpleado, IdTipoDeduccion, FechaInicio, FechaFin)
    SELECT
         I.id
        ,TD.id
        ,I.FechaContratacion  
        ,NULL
    FROM INSERTED I
    CROSS JOIN dbo.TipoDeduccion TD
    WHERE TD.FlagObligatorio = 1
    AND NOT EXISTS (
        SELECT 1 FROM dbo.EXTD E2
        WHERE E2.IdEmpleado = I.id
            AND E2.IdTipoDeduccion = TD.id
            AND E2.FechaFin IS NULL
    );

END;
