/****** Object:  StoredProcedure [dbo].[SP_AsignarJornada]    Script Date: 7/6/2026 16:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_AsignarJornada]
     @inValorDocumento VARCHAR(20)
    ,@inIdTipoJornada       INT
    ,@inIdSemana            INT
    ,@inIdUsuario           INT
    ,@inIP              VARCHAR(45)
    ,@outResultCode         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
    SET @outResultCode = 0;

    DECLARE @idEmpleado INT = 0;

    SELECT @idEmpleado = e.id
    FROM dbo.Empleado e
    WHERE (e.documentoIdentidad = @inValorDocumento)
        AND (e.Activo = 1);

    IF (@idEmpleado = 0)
    BEGIN
        SET @outResultCode = 50008;
        RETURN;
    END;

    -- Validar que no tenga ya jornada asignada en esa semana
    DECLARE @existeJornada INT = 0;

    SELECT @existeJornada = COUNT(1)
    FROM dbo.HorarioJornada hj
    WHERE (hj.IdEmpleado = @idEmpleado)
        AND (hj.IdSemana  = @inIdSemana);

    IF (@existeJornada > 0)
    BEGIN
        SET @outResultCode = 50008;
        RETURN;
    END;

        BEGIN TRANSACTION tAsignarJornada;

            INSERT INTO dbo.HorarioJornada
                ( IdEmpleado
                , IdSemana
                , IdTipoJornada )
            VALUES
                ( @idEmpleado
                , @inIdSemana
                , @inIdTipoJornada );


            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
            VALUES
                ( @inIdUsuario
                , 23
                , CONCAT('{"IdEmpleado":', @idEmpleado,
                         ',"IdTipoJornada":', @inIdTipoJornada, '}')
                , @inIP );

        COMMIT TRANSACTION tAsignarJornada;

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION tAsignarJornada;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;
