/****** Object:  StoredProcedure [dbo].[SP_ConsultarDeduccionesSemanal]    Script Date: 5/6/2026 15:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ConsultarDeduccionesSemanal]
     @inIdPlanillaSemanal    INT
    ,@inIdUsuario            INT
    ,@inIP                   VARCHAR(45)
    ,@outResultCode          INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    BEGIN TRY

        SELECT
             TM.Nombre          AS NombreDeduccion
            ,DS.Porcentaje
            ,DS.Monto
        FROM dbo.DeduccionSemanal DS
            INNER JOIN dbo.TipoDeduccion TD ON (DS.IdTipoDeduccion = TD.id)
            INNER JOIN dbo.TipoMov TM ON (TD.IdTipoMov = TM.id)
        WHERE (DS.IdPlanillaSemanal = @inIdPlanillaSemanal)
        ORDER BY TM.Nombre ASC;

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;