/****** Object:  StoredProcedure [dbo].[SP_ConsultarDetalleSemanal]    Script Date: 16/6/2026 23:03:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ConsultarDetalleSemanal]
     @inIdPlanillaSemanal    INT
    ,@inIdUsuario            INT
    ,@inIP                   VARCHAR(45)
    ,@outResultCode          INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    BEGIN TRY

        SELECT
             A.MarcaInicio   AS HoraEntrada
            ,A.MarcaFin      AS HoraSalida
            ,MP.Fecha
            ,TM.Nombre          AS TipoMovimiento
            ,MH.QHoras
            ,MP.Monto
        FROM dbo.MovPlanilla MP
        INNER JOIN dbo.TipoMov TM ON (MP.IdTipoMov = TM.id)
        INNER JOIN dbo.MovHorasTrab MH ON (MP.id = MH.id)
        INNER JOIN dbo.Asistencia A ON (MH.IdAsistencia = A.id)
        WHERE (MP.IdPlanillaSemanal = @inIdPlanillaSemanal)
        ORDER BY MP.Fecha ASC;

        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @inIdUsuario
            , 20
            , CONCAT('{"IdPlanillaSemanal":', @inIdPlanillaSemanal, '}')
            , @inIP );

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;
