/****** Object:  StoredProcedure [dbo].[SP_EditarEmpleado]    Script Date: 1/6/2026 23:52:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_EditarEmpleado]
     @inIdEmpleado          INT
    ,@inIdTipoDocumento     INT
    ,@inDocumentoIdentidad  VARCHAR(20)
    ,@inNombre              VARCHAR(200)
    ,@inIdDepartamento      INT
    ,@inIdPuesto            INT
    ,@inCuentaBancaria      VARCHAR(50)
    ,@inIdUsuario           INT
    ,@inIP                  VARCHAR(45)
    ,@outResultCode         INT OUTPUT
AS
BEGIN
BEGIN TRY
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    DECLARE @existeEmpleado INT = 0;
    DECLARE @existeDoc      INT = 0;
    DECLARE @existeNombre INT = 0;

    SELECT @existeEmpleado = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.id = @inIdEmpleado)
        AND (E.Activo = 1);

    IF (@existeEmpleado = 0)
    BEGIN
        SET @outResultCode = 50008;
        RETURN;
    END;

    SELECT @existeDoc = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.documentoIdentidad = @inDocumentoIdentidad)
        AND (E.id <> @inIdEmpleado);

    IF (@existeDoc > 0)
    BEGIN
        SET @outResultCode = 50006;
        RETURN;
    END;

    SELECT @existeNombre = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.Nombre = @inNombre)
        AND (E.Activo = 1)
        AND (E.id <> @inIdEmpleado);

    IF (@existeNombre > 0)
    BEGIN
        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @inIdUsuario, 7, 'Fallido: nombre duplicado', @inIP );

        SET @outResultCode = 50007;
        RETURN;
    END;

    DECLARE @datosAntes     NVARCHAR(MAX);
    DECLARE @datosDespues   NVARCHAR(MAX);

    SET @datosAntes = (
        SELECT
             E.id
            ,E.IdTipoDocumento
            ,E.documentoIdentidad
            ,E.Nombre
            ,E.IdDepartamento
            ,E.IdPuesto
            ,E.CuentaBancaria
        FROM dbo.Empleado E
        WHERE (E.id = @inIdEmpleado)
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    SET @datosDespues = (
        SELECT
             @inIdEmpleado          AS id
            ,@inIdTipoDocumento     AS IdTipoDocumento
            ,@inDocumentoIdentidad  AS documentoIdentidad
            ,@inNombre              AS Nombre
            ,@inIdDepartamento      AS IdDepartamento
            ,@inIdPuesto            AS IdPuesto
            ,@inCuentaBancaria      AS CuentaBancaria
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );


        BEGIN TRANSACTION tEditarEmp;

            UPDATE dbo.Empleado
            SET
                 IdTipoDocumento    = @inIdTipoDocumento
                ,documentoIdentidad = @inDocumentoIdentidad
                ,Nombre             = @inNombre
                ,IdDepartamento     = @inIdDepartamento
                ,IdPuesto           = @inIdPuesto
                ,CuentaBancaria     = @inCuentaBancaria
            WHERE (id = @inIdEmpleado);

            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, IpPostIn, DatosAntes, DatosDespues )
            VALUES
                ( @inIdUsuario, 8, @inIP, @datosAntes, @datosDespues );

        COMMIT TRANSACTION tEditarEmp;

END TRY
BEGIN CATCH

        IF (@@TRANCOUNT > 0)
            ROLLBACK TRANSACTION tEditarEmp;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

END CATCH;

END;