/****** Object:  StoredProcedure [dbo].[SP_InsertarEmpleado]    Script Date: 15/6/2026 23:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_InsertarEmpleado]
    @inDocumentoIdentidad  VARCHAR(20)
    ,@inNombre              VARCHAR(200)
    ,@inIdPuesto            INT
    ,@inCuentaBancaria      VARCHAR(50)
    ,@inUsername            VARCHAR(50)     
    ,@inPassword            VARCHAR(255)    
    ,@inFechaContratacion   DATE   
    ,@inIdUsuario           INT
    ,@inIP                  VARCHAR(45)
    ,@outIdEmpleado         INT OUTPUT
    ,@outResultCode         INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

    SET @outResultCode  = 0;
    SET @outIdEmpleado  = 0;

    DECLARE @existeDoc  INT = 0
        , @existeNombre INT = 0
        , @nuevoUsuario INT;

    SELECT @existeDoc = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.documentoIdentidad = @inDocumentoIdentidad);

    IF (@existeDoc > 0)
    BEGIN
        INSERT INTO dbo.BitacoraEvento (IdUsuario, IdTipoEvento, Descripcion, IpPostIn)
        VALUES
            ( @inIdUsuario, 5, 'Fallido: documento de identidad ya existe', @inIP );

        SET @outResultCode = 50004;
        RETURN;
    END;

    SELECT @existeNombre = COUNT(1)
    FROM dbo.Empleado E
    WHERE (E.Nombre = @inNombre)
        AND (E.Activo = 1);

    IF (@existeNombre > 0)
    BEGIN
        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @inIdUsuario, 5, 'Fallido: nombre duplicado', @inIP );

        SET @outResultCode = 50005;
        RETURN;
    END;


    DECLARE @datosDespues NVARCHAR(MAX);


        BEGIN TRANSACTION tInsertaEmp;

            INSERT INTO dbo.Empleado
                (documentoIdentidad
                , Nombre
                , IdPuesto
                , CuentaBancaria
                , Activo )
            VALUES
                ( @inDocumentoIdentidad
                , @inNombre
                , @inIdPuesto
                , @inCuentaBancaria
                , 1 );

            SET @outIdEmpleado = SCOPE_IDENTITY();

            INSERT INTO dbo.Usuario
                ( [User]
                , [Password]
                , Tipo
                , IdEmpleado )
            VALUES
                ( @inUsername
                , @inPassword
                , 2                      
                , @outIdEmpleado );

            SET @nuevoUsuario = SCOPE_IDENTITY();

            SET @datosDespues = (
                SELECT
                     @outIdEmpleado         AS id
                    ,@inDocumentoIdentidad  AS documentoIdentidad
                    ,@inNombre              AS Nombre
                    ,@inIdPuesto            AS IdPuesto
                    ,@inCuentaBancaria      AS CuentaBancaria
                    ,@nuevoUsuario          AS IdUsuario
                FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            );

            INSERT INTO dbo.BitacoraEvento
                ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn, DatosDespues )
            VALUES
                ( @inIdUsuario, 6, NULL, @inIP, @datosDespues );

        COMMIT TRANSACTION tInsertaEmp;

    END TRY
    BEGIN CATCH

        IF (@@TRANCOUNT > 0)
            ROLLBACK TRANSACTION tInsertaEmp;

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message)
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() 
            );

    END CATCH;

END;