/****** Object:  StoredProcedure [dbo].[SP_ObtenerCatalogos]    Script Date: 1/6/2026 23:56:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerCatalogos]
     @outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    BEGIN TRY

        SELECT TD.id, TD.Nombre
        FROM dbo.TipoDocumentoIdentidad TD
        ORDER BY TD.Nombre ASC;

        SELECT D.id, D.Nombre
        FROM dbo.Departamento D
        ORDER BY D.Nombre ASC;

        SELECT P.id, P.Nombre, P.SalarioXHora
        FROM dbo.Puesto P
        ORDER BY P.Nombre ASC;

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message)
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            );

    END CATCH;

END;