/****** Object:  StoredProcedure [dbo].[SP_ObtenerEmpleado]    Script Date: 1/6/2026 23:56:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_ObtenerEmpleado]
     @inIdEmpleado   INT
    ,@outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    BEGIN TRY

        SELECT
             E.id
            ,E.IdTipoDocumento
            ,TD.Nombre           AS NombreTipoDocumento
            ,E.documentoIdentidad
            ,E.Nombre
            ,E.IdDepartamento
            ,D.Nombre           AS NombreDepartamento
            ,E.IdPuesto
            ,P.Nombre           AS NombrePuesto
            ,P.SalarioXHora
            ,E.CuentaBancaria
            ,E.Activo
        FROM dbo.Empleado E
        INNER JOIN dbo.TipoDocumentoIdentidad TD ON (E.IdTipoDocumento = TD.id)
        INNER JOIN dbo.Departamento D ON (E.IdDepartamento = D.id)
        INNER JOIN dbo.Puesto P ON (E.IdPuesto = P.id)
        WHERE (E.id = @inIdEmpleado);

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message)
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() 
            );

    END CATCH;

END;