/****** Object:  StoredProcedure [dbo].[SP_RegresarAdmin]    Script Date: 17/6/2026 12:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[SP_RegresarAdmin]
     @inIdUsuario    INT
    ,@inIP           VARCHAR(45)
    ,@outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @outResultCode = 0;
    BEGIN TRY
        INSERT INTO dbo.BitacoraEvento
            ( IdUsuario, IdTipoEvento, Descripcion, IpPostIn )
        VALUES
            ( @inIdUsuario, 16, NULL, @inIP );
    END TRY
    BEGIN CATCH
        SET @outResultCode = 50008;
        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER, ERROR_NUMBER(), ERROR_STATE(),
              ERROR_SEVERITY(), ERROR_LINE(), ERROR_PROCEDURE(), ERROR_MESSAGE() );
    END CATCH;
END;
