/****** Object:  StoredProcedure [dbo].[SP_SimulacionOperaciones]    Script Date: 15/6/2026 23:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[SP_SimulacionOperaciones]
     @inXML          XML
    ,@inIdUsuario    INT
    ,@outResultCode  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    SET @outResultCode = 0;

    DECLARE
         @i                  INT             = 1
        ,@j                  INT             = 0
        ,@total              INT             = 0
        ,@fechaActual        DATE
        ,@fechaStr           VARCHAR(10)
        ,@diaSemana          INT
        ,@esPrimerJueves     BIT             = 0
        ,@proximoViernes     DATE
        ,@proximaFecha       DATE
        ,@idSemana           INT             = 0
        ,@idNuevaSemana      INT             = 0
        ,@idNuevoMes         INT             = 0
        ,@resultCode         INT             = 0
        ,@idEmpleado         INT             = 0
        ,@idPuesto           INT             = 0
        ,@idTipoJornada      INT             = 0
        ,@username       VARCHAR(50)
        ,@password       VARCHAR(255)
        ,@valDoc             VARCHAR(20)
        ,@nombre             VARCHAR(200)
        ,@nombrePuesto       VARCHAR(100)
        ,@cuentaBancaria     VARCHAR(50)
        ,@nombreDeduccion    VARCHAR(100)
        ,@montoFijo          DECIMAL(12,2)
        ,@nombreJornada      VARCHAR(50)
        ,@marcaInicio        DATETIME
        ,@marcaFin           DATETIME;

    DECLARE @tFechas TABLE (
         Indice  INT
        ,Fecha   DATE
    );

    DECLARE @tOps TABLE (
         Indice          INT
        ,ValDoc          VARCHAR(20)
        ,Nombre          VARCHAR(200)
        ,NombrePuesto    VARCHAR(100)
        ,CuentaBancaria  VARCHAR(50)
        ,NombreDeduccion VARCHAR(100)
        ,MontoFijo       DECIMAL(12,2)
        ,NombreJornada   VARCHAR(50)
        ,MarcaInicio     DATETIME
        ,MarcaFin        DATETIME
        ,TipoOp          VARCHAR(20)
        ,Username        VARCHAR(50)
        ,Password        VARCHAR(255)
    );

    BEGIN TRY

        INSERT INTO @tFechas (Indice, Fecha)
        SELECT
             ROW_NUMBER() OVER (ORDER BY nodo.value('@Fecha', 'DATE')) AS Indice
            ,nodo.value('@Fecha', 'DATE')                               AS Fecha
        FROM @inXML.nodes('/Operaciones/FechaOperacion') AS t(nodo);

        SELECT @total = COUNT(1) FROM @tFechas;

        WHILE (@i <= @total)
        BEGIN
            SELECT @fechaActual = Fecha
            FROM @tFechas
            WHERE (Indice = @i);

            SET @fechaStr  = CONVERT(VARCHAR(10), @fechaActual, 23);
            SET @diaSemana = DATEPART(WEEKDAY, @fechaActual);

            -- ------------------------------------------------
            -- Insertar nuevos empleados
            -- ------------------------------------------------
            DELETE FROM @tOps;

            INSERT INTO @tOps
                ( Indice, ValDoc, Nombre, NombrePuesto, CuentaBancaria, Username, Password, TipoOp )
            SELECT
                 ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                ,nodo.value('@Nombre',                  'VARCHAR(200)')
                ,nodo.value('@Puesto',                  'VARCHAR(100)')
                ,nodo.value('@CuentaBancaria',           'VARCHAR(50)')
                ,nodo.value('@Username',                 'VARCHAR(50)')
                ,nodo.value('@Password',                 'VARCHAR(255)')
                ,'EMPLEADO'
            FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/InsertarEmpleado') AS t(nodo);

            SET @j = 1;
            WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'EMPLEADO'))
            BEGIN
                SELECT
                     @valDoc         = ValDoc
                    ,@nombre         = Nombre
                    ,@nombrePuesto   = NombrePuesto
                    ,@cuentaBancaria = CuentaBancaria
                    ,@username       = Username
                    ,@password       = Password
                FROM @tOps
                WHERE (TipoOp = 'EMPLEADO')
                    AND (Indice = @j);

                SELECT @idPuesto = P.id
                FROM dbo.Puesto P
                WHERE (P.Nombre = @nombrePuesto);

                EXEC dbo.SP_InsertarEmpleado
                    @inDocumentoIdentidad = @valDoc
                    ,@inNombre             = @nombre
                    ,@inIdPuesto           = @idPuesto
                    ,@inCuentaBancaria     = @cuentaBancaria
                    ,@inUsername            = @username
                    ,@inPassword            = @password
                    ,@inFechaContratacion   = @fechaActual
                    ,@inIdUsuario          = @inIdUsuario
                    ,@inIP                 = '127.0.0.1'
                    ,@outIdEmpleado        = @idEmpleado OUTPUT
                    ,@outResultCode        = @resultCode OUTPUT;

                SET @j = @j + 1;
            END;

            -- ------------------------------------------------
            -- Asociar deducciones no obligatorias
            -- ------------------------------------------------
            DELETE FROM @tOps;

            INSERT INTO @tOps
                ( Indice, ValDoc, NombreDeduccion, MontoFijo, TipoOp )
            SELECT
                 ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                ,nodo.value('@TipoDeduccion',            'VARCHAR(100)')
                ,nodo.value('@MontoFijo',                'DECIMAL(12,2)')
                ,'ASOCIAR'
            FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/AsociaEmpleadoConDeduccion') AS t(nodo);

            SET @j = 1;
            WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'ASOCIAR'))
            BEGIN
                SELECT
                     @valDoc          = ValDoc
                    ,@nombreDeduccion = NombreDeduccion
                    ,@montoFijo       = MontoFijo
                FROM @tOps
                WHERE (TipoOp = 'ASOCIAR')
                    AND (Indice = @j);

                -- Calcular FechaInicio fuera del EXEC
                SET @proximaFecha = DATEADD(DAY, 1, @fechaActual);

                EXEC dbo.SP_AsociarDeduccion
                     @inValorDocumento  = @valDoc
                    ,@inNombreDeduccion = @nombreDeduccion
                    ,@inMontoFijo       = @montoFijo
                    ,@inFechaInicio     = @proximaFecha
                    ,@inIdUsuario       = @inIdUsuario
                    ,@inIP              = '127.0.0.1'
                    ,@outResultCode     = @resultCode OUTPUT;

                SET @j = @j + 1;
            END;

            -- ------------------------------------------------
            --  Desasociar deducciones
            -- ------------------------------------------------
            DELETE FROM @tOps;

            INSERT INTO @tOps
                ( Indice, ValDoc, NombreDeduccion, TipoOp )
            SELECT
                 ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                ,nodo.value('@TipoDeduccion',            'VARCHAR(100)')
                ,'DESASOCIAR'
            FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/DesasociaEmpleadoConDeduccion') AS t(nodo);

            SET @j = 1;
            WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'DESASOCIAR'))
            BEGIN
                SELECT
                     @valDoc          = ValDoc
                    ,@nombreDeduccion = NombreDeduccion
                FROM @tOps
                WHERE (TipoOp = 'DESASOCIAR')
                    AND (Indice = @j);

                EXEC dbo.SP_DesasociarDeduccion
                     @inValorDocumento  = @valDoc
                    ,@inNombreDeduccion = @nombreDeduccion
                    ,@inFechaFin        = @fechaActual
                    ,@inIdUsuario       = @inIdUsuario
                    ,@inIP              = '127.0.0.1'
                    ,@outResultCode     = @resultCode OUTPUT;

                SET @j = @j + 1;
            END;

            -- ------------------------------------------------
            -- Eliminar empleados
            -- ------------------------------------------------
            DELETE FROM @tOps;

            INSERT INTO @tOps
                ( Indice, ValDoc, TipoOp )
            SELECT
                 ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                ,'ELIMINAR'
            FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/EliminarEmpleado') AS t(nodo);

            SET @j = 1;
            WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'ELIMINAR'))
            BEGIN
                SELECT @valDoc = ValDoc
                FROM @tOps
                WHERE (TipoOp = 'ELIMINAR')
                    AND (Indice = @j);

                -- Buscar el id del empleado por cédula
                SELECT @idEmpleado = E.id
                FROM dbo.Empleado E
                WHERE (E.documentoIdentidad = @valDoc);

                EXEC dbo.SP_EliminarEmpleado
                     @inIdEmpleado  = @idEmpleado
                    ,@inIdUsuario   = @inIdUsuario
                    ,@inIP          = '127.0.0.1'
                    ,@outResultCode = @resultCode OUTPUT;

                SET @j = @j + 1;
            END;

            -- ------------------------------------------------
            -- Procesar marcas de asistencia
            -- ------------------------------------------------
            DELETE FROM @tOps;

            INSERT INTO @tOps
                ( Indice, ValDoc, MarcaInicio, MarcaFin, TipoOp )
            SELECT
                 ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                ,nodo.value('@HoraEntrada',              'DATETIME')
                ,nodo.value('@HoraSalida',               'DATETIME')
                ,'ASISTENCIA'
            FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/MarcaAsistencia') AS t(nodo);

            SET @j = 1;
            WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'ASISTENCIA'))
            BEGIN
                SELECT
                     @valDoc      = ValDoc
                    ,@marcaInicio = MarcaInicio
                    ,@marcaFin    = MarcaFin
                FROM @tOps
                WHERE (TipoOp = 'ASISTENCIA')
                    AND (Indice = @j);

                SELECT @idSemana = S.id
                FROM dbo.Semana S
                WHERE (@fechaActual >= S.FechaInicio)
                    AND (@fechaActual <= S.FechaFin);

                EXEC dbo.SP_ProcesarAsistencia
                     @inValorDocumento = @valDoc
                    ,@inMarcaInicio    = @marcaInicio
                    ,@inMarcaFin       = @marcaFin
                    ,@inIdSemana       = @idSemana
                    ,@inIdUsuario      = @inIdUsuario
                    ,@outResultCode    = @resultCode OUTPUT;

                SET @j = @j + 1;
            END;

            -- ------------------------------------------------
            -- Si es jueves, cierre y apertura
            -- ------------------------------------------------
            IF (@diaSemana = 5)
            BEGIN
                -- Verificar si es el primer jueves (Mes está vacío)
                SELECT @esPrimerJueves = CASE WHEN COUNT(1) = 0 THEN 1 ELSE 0 END
                FROM dbo.Mes;

                -- Si no es el primer jueves cerrar la semana actual
                IF (@esPrimerJueves = 0)
                BEGIN
                    SELECT @idSemana = S.id
                    FROM dbo.Semana S
                    WHERE (@fechaActual >= S.FechaInicio)
                        AND (@fechaActual <= S.FechaFin);

                    EXEC dbo.SP_CierreSemanal
                         @inIdSemana    = @idSemana
                        ,@inIdUsuario   = @inIdUsuario
                        ,@outResultCode = @resultCode OUTPUT;
                END;

                -- Calcular próximo viernes
                SET @proximoViernes = DATEADD(DAY, 1, @fechaActual);

                
                IF NOT EXISTS (
                    SELECT 1
                    FROM dbo.Mes M
                    WHERE (@proximoViernes >= M.FechaInicio)
                        AND (@proximoViernes <= M.FechaFin)
                )
                BEGIN
                    EXEC dbo.SP_AperturaMes
                         @inFechaJueves  = @fechaActual
                        ,@outIdMes       = @idNuevoMes OUTPUT
                        ,@outResultCode  = @resultCode OUTPUT;
                END;
                ELSE
                BEGIN
                    SELECT @idNuevoMes = M.id
                    FROM dbo.Mes M
                    WHERE (@proximoViernes >= M.FechaInicio)
                        AND (@proximoViernes <= M.FechaFin);
                END;

                -- Abrir nueva semana
                EXEC dbo.SP_AperturaSemana
                     @inFechaJueves  = @fechaActual
                    ,@inIdMes        = @idNuevoMes
                    ,@outIdSemana    = @idNuevaSemana OUTPUT
                    ,@outResultCode  = @resultCode OUTPUT;

                -- Procesar AsignarJornada para la nueva semana
                DELETE FROM @tOps;

                INSERT INTO @tOps
                    ( Indice, ValDoc, NombreJornada, TipoOp )
                SELECT
                     ROW_NUMBER() OVER (ORDER BY (SELECT NULL))
                    ,nodo.value('@ValorDocumentoIdentidad', 'VARCHAR(20)')
                    ,nodo.value('@Jornada',                  'VARCHAR(50)')
                    ,'JORNADA'
                FROM @inXML.nodes('/Operaciones/FechaOperacion[@Fecha=sql:variable("@fechaStr")]/AsignarJornada') AS t(nodo);

                SET @j = 1;
                WHILE (@j <= (SELECT COUNT(1) FROM @tOps WHERE TipoOp = 'JORNADA'))
                BEGIN
                    SELECT
                         @valDoc        = ValDoc
                        ,@nombreJornada = NombreJornada
                    FROM @tOps
                    WHERE (TipoOp = 'JORNADA')
                        AND (Indice = @j);

                    SELECT @idTipoJornada = TJ.id
                    FROM dbo.TipoJornada TJ
                    WHERE (TJ.Nombre = @nombreJornada);

                    EXEC dbo.SP_AsignarJornada
                         @inValorDocumento = @valDoc
                        ,@inIdTipoJornada  = @idTipoJornada
                        ,@inIdSemana       = @idNuevaSemana
                        ,@inIdUsuario      = @inIdUsuario
                        ,@inIP             = '127.0.0.1'
                        ,@outResultCode    = @resultCode OUTPUT;

                    SET @j = @j + 1;
                END;

            END; -- fin IF jueves

            SET @i = @i + 1;

        END; -- fin WHILE fechas

    END TRY
    BEGIN CATCH

        SET @outResultCode = 50008;

        INSERT INTO dbo.DBErrors
            ( UserName, Number, State, Severity, Line, [Procedure], Message )
        VALUES
            ( SYSTEM_USER
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE() );

    END CATCH;

END;
